@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: DaysOne;
    
    src: url("./fonts/DaysOne.ttf")
}

@font-face {

  font-family: AoboshiOne;
  
  src: url("./fonts/AoboshiOne.ttf")
}
