@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {

  
  width: 16px;

}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  
  background: #fff;
  
}

.scrollbar::-webkit-scrollbar-track {
  margin-top: 40px;
  
  margin-bottom: 40px;

}

.scrollbar::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 100vh;
  border: 3px solid #fff;
 
  
}


@font-face {
    font-family: DaysOne;
    
    src: url("./fonts/DaysOne.ttf")
}

@font-face {

  font-family: AoboshiOne;
  
  src: url("./fonts/AoboshiOne.ttf")
}

@font-face {

  font-family: Acme;
  
  src: url("./fonts/Acme.ttf")
}




@layer base {
  :root{

    --bg-primary: #FFC730;
    --bg-primary-linear:  linear-gradient(180deg, var(--bg-primary) 85.94%, rgba(64, 161, 209, 0) 100%);
    --btn-bg-linear-gradient-1: linear-gradient(180deg, rgba(10, 172, 143, 0.481753) 25%, rgba(10, 172, 143, 0.4489) 35.42%, rgba(10, 172, 123, 0.67) 75%, rgba(10, 172, 114, 0.5092) 99.98%, rgba(96, 172, 10, 0.549842) 99.99%);
  }
}